.title {
    font-weight: 400;
    font-size: 2.5rem;
}

.title1 {
    font-weight: 700;
    font-size: 49px;
}

.title-nav{
    font-weight: 600 ;
    font-size: 1.2rem;
    margin-right: 50px;
}

.title1-nav{
    font-weight: 800 ;
    font-size: 1.2rem;
    color:#EB414F;
}
.home-navbar {
    width: "100%";
    
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-left: 200px ;
  padding-right: 196px ;
}
.login {
    
    border-radius: 50px;
    border-width: 1px;
    border-color: brown ;
}

.menu-bar {
 display: flex;
 flex-direction: row;
 padding-top: 40px;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px ;
  padding-right: 196px ;
}



.box {
    width: "100%";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title-box {
    font-weight: 800;
    font-size: 1.2rem;
}

.button-masuk {
    width: "100%";
    height: 40px;
    margin-top: 10px;
    
   

   
    background-color: #FFF ;
   font-weight: 600;
    font-size: 1.2rem;
    border-radius: 30px;
    color: #EB414F ;
    border-width: 1;
    border-color: #EB414F ;
    
    

}